$def with(tutoria, message)
<h3>
    <a href="/tutoria">tutoria</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
<br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_tutoria" id="id_tutoria" value="$tutoria.id_tutoria" />

    <div class="form-group">
    <label for="alumno">alumno</label>
    <input readonly id="alumno" type="text" class="form-control" name="alumno" size="30" value="$tutoria.alumno"/>
</div><div class="form-group">
    <label for="tutor">tutor</label>
    <input readonly id="tutor" type="text" class="form-control" name="tutor" size="30" value="$tutoria.tutor"/>
</div><div class="form-group">
    <label for="carrera">carrera</label>
    <input readonly id="carrera" type="text" class="form-control" name="carrera" size="30" value="$tutoria.carrera"/>
</div><div class="form-group">
    <label for="grupo">grupo</label>
    <input readonly id="grupo" type="text" class="form-control" name="grupo" size="30" value="$tutoria.grupo"/>
</div><div class="form-group">
    <label for="area_tutoria">area_tutoria</label>
    <input readonly id="area_tutoria" type="text" class="form-control" name="area_tutoria" size="30" value="$tutoria.area_tutoria"/>
</div><div class="form-group">
    <label for="nombre_responsable">nombre_responsable</label>
    <input readonly id="nombre_responsable" type="text" class="form-control" name="nombre_responsable" size="30" value="$tutoria.nombre_responsable"/>
</div><div class="form-group">
    <label for="acciones">acciones</label>
    <input readonly id="acciones" type="text" class="form-control" name="acciones" size="30" value="$tutoria.acciones"/>
</div><div class="form-group">
    <label for="resolucion">resolucion</label>
    <input readonly id="resolucion" type="text" class="form-control" name="resolucion" size="30" value="$tutoria.resolucion"/>
</div><div class="form-group">
    <label for="fecha">fecha</label>
    <input readonly id="fecha" type="text" class="form-control" name="fecha" size="30" value="$tutoria.fecha"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
</form>
<br>
<br>
<br>